html {
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


h2 {
    font-size: 1.6rem;
    text-transform:uppercase;
    padding: 60px 0 50px 0;
    letter-spacing: 4px;
    text-decoration:underline;
    text-decoration-color: #049c9c;
    text-decoration-thickness: 6px;
    text-underline-offset: 14px; 
}

h3 {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #049c9c;
    text-transform: uppercase;
}

/*HEADER*/

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px;
    grid-template-areas: 
    "logo . hamnav";
    box-shadow: 0 10px 10px 2px rgb(0 0 0 / 10%);
    font-size: 1.1rem;
    margin: 0px;
}

.logo {
    grid-area: logo;
    align-self: center;
    width: 160px;
    height: 60px;
}

#hamnav {
    grid-area: hamnav;
    align-self: center;
    position: sticky;
    top: 0;
  }
  
  /* desktop */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    color: #6bc4c4;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }

#hamitems a:hover { color: #1d1d1d }
  

#hamnav label, #hamburger { display: none; }

  /* Mobile and tablet */
@media screen and (max-width: 1125px){

header {
    box-shadow: none;
}

#hamitems a {
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    font-size: 1.2rem;
    border-top: 1px solid #1d1d1d;
}
   

#hamnav label { 
    display: flex;
    justify-content: right;
    color: #049c9c;
    font-style: normal;
    font-size: 2em;
    padding: 15px;
}
    
   
#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*MAIN*/

/*SECTION 1 : MISSION BANNER*/
.mission_banner {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas: 
    "mission_statement"
    "mission_explanation"
    "mission_btn";
    margin-top: 10px;
    background-image: linear-gradient(

      rgba(0, 0, 0, 0.45), 

      rgba(0, 0, 0, 0.45)

    ),
    url("Images/missionimg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 80vw;
    min-height: 60vh;
}

.mission_statement {
    grid-area: mission_statement;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0 15px 0 15px ;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.mission_explanation {
    grid-area: mission_explanation;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-top: -10px;
    padding: 0 15px 0 15px;
    color: white;
    font-weight:200;
    font-size: 1.2rem;
}

.mission_btn {
    grid-area: mission_btn;
    justify-self: center;
    width: 170px;
    height: 70px;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #049c9c;
    border: none;
    border-radius: 15px;
    color: white;
}

.mission_btn:hover{
    background-color: white;
    color: #049c9c;
}

@media screen and (min-width: 1125px){

.mission_banner {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas: 
    "mission_statement"
    "mission_explanation"
    "mission_btn";
    margin-top: 10px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)),
    url("Images/missionimg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 80vw;
    min-height: 70vh;
}

.mission_statement {
    grid-area: mission_statement;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
}

.mission_explanation {
    grid-area: mission_explanation;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-top: -10px;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0 35px 0 35px;
}

.mission_btn {
    grid-area: mission_btn;
    justify-self: center;
    width: 200px;
    height: 70px;
    font-size: 1.5rem;  
}
}
/*FIN SECTION 1*/

/*SECTION2*/

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.history_img1{
    width: 100%;
    height: 100%;
    padding-bottom: 30px; 
}

.history > h2, h3 {
    align-self: flex-start;
}

.history_art1, .history_art2, .history_art3, .Organization > p, .details > p {
    font-size: 1.25rem;
    color: #454545;
    text-align: justify;
    font-weight: 300;
    padding-bottom: 30px;
}

.history_old_pic {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}


@media screen and (min-width: 1125px){
    
    .history {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .history_art1 > h2 {
        padding: 0 0 10px 0;
    }
    .history {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        grid-gap: 50px;
        grid-template-areas: 
        "history_img1 history_art1"
        "history_art2 history_old_pic"
        "history_art3 history_art3";
    }

    .history_art1, .history_art2, .history_art3 {
        padding-bottom: 0px;
    }
    
    .history_img1 {
        grid-area: history_img1;
        width: 100%;
        height: auto;
        align-items: center;
        box-shadow: 15px 25px  #e5efe9;
        border-radius: 15px;
        padding: 0px;
    }
    

    .history_art1 {
        grid-area: history_art1;
        margin-right: 50px;
    }

    .history_art2 {
        grid-area: history_art2;
        align-self: start;
    }

    .history_old_pic {
        grid-area: history_old_pic;
        width: 400px;
        height: 400px;
        justify-self: center;
        box-shadow: -15px 5px #e5efe9;
        border-radius: 15px;
        margin-bottom: 0;
        margin-right: 36px;
    }

    .history_art3 {
        grid-area: history_art3;
        margin-right: 50px;
        align-self: start;
    }
}

/*FIN SECTION 2*/

/*SECTION 3*/

.Organization {
    background: #e5efe9;
    background-position: bottom 10px right 20px;
    margin: 0;
    padding: 0;
}

.Organization > h2 {
  padding: 50px 50px 0px 50px;
}

.Organization > p {
  padding: 30px 50px 0 50px
}

.container{
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
  }
  .container .main-card{
    display: flex;
    justify-content: space-around;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
  }
  .main-card .cards .card{
    width: 80%;
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
   
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 6px solid #049c9c;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #049c9c;
    text-transform: lowercase;
  }
  .details > p {
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 20px 0px 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: white;
    border: 1px solid #049c9c;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 1125px) {

    .container .main-card .cards{
      flex-wrap: wrap;
    }
    .main-card .cards .card{
      width: 100%;
      margin-bottom: 50px;
    }
  }

  /*FIN DE SECTION3*/

  /*SECTION 4*/

  .figure_background {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .figure1, .figure2, .figure3, .figure4 {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background:#e5efe9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .figure_background > p {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 50px;
  }

.fa-solid {
  justify-items: center;
  color:#049c9c ;
}

.figure {
  font-size: 1.8rem;
  font-weight: 700;
  color: #049c9c;
}

@media (min-width: 900px) {

    .figure_section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "figure1 figure2"
      "figure3 figure4";
    }
  }

  @media (min-width: 1125px) {

    .figure_section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
      "figure1 figure2 figure3 figure4";
      padding-top: 30px;
    }
  }

  /*FIN SECTION 4*/

  /*SECTION 5*/

  .donation {

    background-image: linear-gradient(

      rgba(4, 156, 156, 0.65), 

      rgba(4, 156, 156, 0.65) 

    ),
    url("https://www.datocms-assets.com/14337/1568111419-dsc1919ab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: auto;
    min-height: 450px;
    height: auto;

    
  }

  .donation > h2 {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.8rem;
  }

  .donation > p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 0 20px 0 20px;
  }

  .btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 40px;
  }

  .donation_btn {
    background-color: #e5efe9;
    color:rgba(4, 156, 156)
  }